:root {
  --primary-font: "Manrope", sans-serif;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 12px 0px;
  --container-color: rgba(183, 183, 138, 0.7);
  --body-color: rgb(221, 221, 221);
  --font-color: rgb(60, 98, 85);
}
body {
  background-color: var(--body-color);
  color: var(--font-color);
  font-family: var(--primary-font);
}

h1 {
  text-align: center;
  font-size: 60px;
}
h2 {
  margin: 0 0 5px;
  font-size: 38px;
}
select {
  font-size: 18px;
  text-align: center;
  font-family: var(--primary-font);
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid var(--font-color);
  background-color: var(--body-color);
}
footer {
  text-align: center;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgb(128, 128, 128, 0.3);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.5;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}
main {
  max-width: 1200px;
  margin: 60px auto;
  background-color: var(--container-color);
  padding: 40px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.social-footer {
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.social-footer a {
  margin: 0 20px;
  color: var(--font-color);
  background-color: rgb(255, 255, 255, 0.4);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 10ms ease-in-out;
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .time {
    font-size: 26px;
  }
  .time small {
    font-size: 20px;
  }
  .date {
    font-size: 12px;
  }
}
